{% extends "base3.html" %}
{% load static %}

{% block contenido %}
<div class="container-fluid py-4">
    <div class="row">
        <!-- Encabezado -->
        <h4 class="mt-0 text-white">Bienvenido/a a la sección de mascotas en búsqueda</h4>
        <h6 class="text-white">
            Encuentra o ayuda a encontrar a las mascotas que están en búsqueda
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                <path fill="currentColor" d="M18 4c-1.71 0-2.75.33-3.35.61C13.88 4.23 13 4 12 4s-1.88.23-2.65.61C8.75 4.33 7.71 4 6 4c-3 0-5 8-5 10c0 .83 1.32 1.59 3.14 1.9c.64 2.24 3.66 3.95 7.36 4.1v-4.28c-.59-.37-1.5-1.04-1.5-1.72c0-1 2-1 2-1s2 0 2 1c0 .68-.91 1.35-1.5 1.72V20c3.7-.15 6.72-1.86 7.36-4.1C21.68 15.59 23 14.83 23 14c0-2-2-10-5-10M4.15 13.87c-.5-.12-.89-.26-1.15-.37c.25-2.77 2.2-7.1 3.05-7.5c.54 0 .95.06 1.32.11c-2.1 2.31-2.93 5.93-3.22 7.76M9 12a1 1 0 0 1-1-1c0-.54.45-1 1-1a1 1 0 0 1 1 1c0 .56-.45 1-1 1m6 0a1 1 0 0 1-1-1c0-.54.45-1 1-1a1 1 0 0 1 1 1c0 .56-.45 1-1 1m4.85 1.87c-.29-1.83-1.12-5.45-3.22-7.76c.37-.05.78-.11 1.32-.11c.85.4 2.8 4.73 3.05 7.5c-.25.11-.64.25-1.15.37"/>
            </svg>
        </h6>

        <!-- Mascotas en búsqueda -->
        {% if mascotas %}
            {% for mascota in mascotas %}
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-4">
                <div class="card clickable-card h-100" onclick="location.href='{% url 'detalle_mascota' mascota.id %}'">
                    <!-- Imagen de la mascota -->
                    <div class="w-100" style="height: 18rem; display: flex; justify-content: center; align-items: center; overflow: hidden;">
                        <img src="{{ mascota.imagen.url }}" class="card-img-top img-fluid" alt="{{ mascota.nombre }}" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                    <!-- Información de la mascota -->
                    <div class="card-body rounded-bottom">
                        <h5 class="card-title text-break">{{ mascota.nombre }} {{ mascota.apellido }}</h5>
                        <p class="card-text mb-0 text-break">Tipo: {{ mascota.tipo.get_descripcion_display }}</p>
                        <p class="card-text text-break">Estado: {{ mascota.estado_mascota.get_descripcion_display }}</p>
                    </div>
                </div>       
            </div>
            {% endfor %}
        {% else %}
            <!-- Mensaje cuando no hay mascotas en búsqueda -->
            <div class="col-12 mt-5 mb-4">
                <div class="card" style="height: 300px; border-radius: 20px; overflow: hidden;">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <h3 class="text-center">No hay mascotas en búsqueda en este momento.</h3>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock contenido %}
