{% extends "base3.html" %}
{% load static %}

{% block contenido %}

<div class="container py-5" style="min-height: 80vh;">
    <div class="shadow p-4 bg-body rounded mt-5">
        {% if formularios %}
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h3 class="mb-0">Mis formularios</h3>
            </div>

            {% comment %} {% if messages %}
                <div class="alert alert-success mt-3">
                    {% for message in messages %}
                        <h5>{{ message }}</h5>
                    {% endfor %}
                </div>
            {% endif %} {% endcomment %}

            <div style="overflow-x: auto;">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="px-5">Nombre</th>
                            <th class="px-5">Tipo mascota</th>
                            <th class="px-5">Edad</th>
                            <th class="px-5">Raza</th>
                            <th class="px-5">Estado formulario</th>
                            <th class="px-5">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for formulario in formularios %}
                            <tr>
                                <td>{{ formulario.mascota.nombre }} {{ formulario.mascota.apellido }}</td>
                                <td>{{ formulario.mascota.tipo.get_descripcion_display }}</td>
                                <td>{{ formulario.mascota.edad }} {{ formulario.mascota.tipo_edad }}</td>
                                <td>{{ formulario.mascota.raza }}</td>
                                <td>{{ formulario.estado_formulario.get_descripcion_display }}</td>
                                <td class="d-flex justify-content-center ">
                                    <a href="{% url 'detalle_formulario' formulario.id %}" class="btn btn-primary btn-sm px-3 me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="currentColor" d="M12 9a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3m0 8a5 5 0 0 1-5-5a5 5 0 0 1 5-5a5 5 0 0 1 5 5a5 5 0 0 1-5 5m0-12.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5"/></svg></a>
                                    <button class="btn btn-danger btn-sm px-3" onclick="confirmarEliminacion({{ formulario.id }})">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"><path fill="currentColor" d="M7.616 20q-.691 0-1.153-.462T6 18.384V6H5V5h4v-.77h6V5h4v1h-1v12.385q0 .69-.462 1.153T16.384 20zm2.192-3h1V8h-1zm3.384 0h1V8h-1z"/></svg>
                                    </button> 
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h3 class="mb-0">Mis formularios</h3>
            </div>
            <p class="text-center">No hay formularios registrados.</p>
        {% endif %}
    </div>
</div>


<script>
    function confirmarEliminacion(formularioid) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: "Esta acción no se puede deshacer",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                // Redirige a la vista de eliminación de la mascota si el usuario confirma
                window.location.href = `/eliminar_formulario/${formularioid}/`;
            }
        });
    }
</script>
    

{% endblock contenido %}
