{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <title>AdoptaPet</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="{% static 'css/nucleo-icons.css' %}" rel="stylesheet" />
  <link href="{% static 'css/nucleo-svg.css' %}" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link id="pagestyle" href="{% static 'css/argon-dashboard.css' %}" rel="stylesheet" />
</head>

<body>
  <main class="main-content mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
              <div class="card card-plain mt-5 mb-5">
                <div class="pb-0 text-start">
                  <h4 class="font-weight-bolder">Registra a tu mascota</h4>
                  <p class="mb-2">Ingresa los datos de la mascota</p>
                </div>
                <div class="card-body">
                  <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <input type="text" class="form-control form-control-lg" placeholder="Nombre" name="nombre" required>
                      </div>
                      <div class="col-md-6 mb-3">
                        <input type="text" class="form-control form-control-lg" placeholder="Apellido" name="apellido" required>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <input type="number" class="form-control form-control-lg" placeholder="Edad" name="edad" required>
                      </div>
                      <div class="col-md-6 mb-3">
                        <select class="form-control form-control-lg" name="tipo_edad" required>
                          <option selected disabled>Tipo edad</option>
                          {% for tipo_edad in tipo_edades %}
                            <option value="{{ tipo_edad.0 }}">{{ tipo_edad.1 }} </option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-md-6 mb-3">
                        <input type="text" class="form-control form-control-lg" placeholder="Calle" name="calle" required>
                      </div>
                      <div class="col-md-6 mb-3">
                        <input type="text" class="form-control form-control-lg" placeholder="Número de calle" name="numero" required>
                      </div>
                    </div>
                    <!-- Selects de datos relacionados -->
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <select class="form-control form-control-lg" name="raza" required>
                          <option selected disabled>Raza</option>
                          {% for raza in razas %}
                            <option value="{{ raza.id }}">{{ raza.nombre }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-md-6 mb-3">
                        <select class="form-control form-control-lg" name="genero" required>
                          <option selected disabled>Género</option>
                          {% for genero in generos %}
                            <option value="{{ genero.id }}">{{ genero.get_descripcion_display }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <select class="form-control form-control-lg" name="tipo" required>
                          <option selected disabled>Tipo de mascota</option>
                          {% for tipo in tipos %}
                            <option value="{{ tipo.id }}">{{ tipo.get_descripcion_display }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-md-6 mb-3">
                        <select class="form-control form-control-lg" name="estado_mascota" required>
                          <option selected disabled>Estado de mascota</option>
                          {% for estado in estados %}
                            <option value="{{ estado.id }}">{{ estado.get_descripcion_display }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-md-6 mb-3">
                        <select class="form-control form-control-lg" name="pais" required>
                          <option selected disabled>País</option>
                          {% for pais in paises %}
                            <option value="{{ pais.id }}">{{ pais.nombre }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-md-6 mb-3">
                        <select class="form-control form-control-lg" id="regionSelect" name="region" required>
                          <option selected disabled>Región</option>
                          {% for region in regiones %}
                            <option value="{{ region.id }}">{{ region.nombre }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <select class="form-control form-control-lg" id="provinciaSelect" name="provincia" required>
                          <option selected disabled>Provincia</option>
                          {% for provincia in provincias %}
                            <option value="{{ provincia.id }}">{{ provincia.nombre }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="col-md-6 mb-3">
                        <select class="form-control form-control-lg" id="comunaSelect" name="comuna" required>
                          <option selected disabled>Comuna</option>
                          {% for comuna in comunas %}
                            <option value="{{ comuna.id }}">{{ comuna.nombre }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <label>Imagen de la mascota</label>
                      <div class="font-weight-bold mt-1">
                        <input type="file" accept="image/jpeg, image/png" name="imagen" class="form-control bg-white py-2" required />
                      </div>     
                    </div>
                  <div class="row">
                      <div class="col-md-12 mt-2">
                        <label for="desc_fisica" class="form-label">Descripción Física</label>
                        <textarea class="form-control form-control-lg" id="desc_fisica" name="desc_fisica" rows="3" required></textarea>
                      </div>
                      <div class="col-md-12 mt-2">
                        <label for="desc_personalidad" class="form-label">Descripción de la Personalidad</label>
                        <textarea class="form-control form-control-lg" id="desc_personalidad" name="desc_personalidad" rows="3" required></textarea>
                      </div>
                      <div class="col-md-12 mt-2">
                          <label for="desc_adicional" class="form-label">Descripción Adicional</label>
                          <textarea class="form-control form-control-lg" id="desc_adicional" name="desc_adicional" rows="3"></textarea>
                      </div>
                  </div>
                    <div class="row">
                      <div class="col-md-6 d-flex justify-content-start mt-2">
                        <a href="{% url 'inicio' %}" class="btn btn-lg btn-outline-warning w-100 mt-4 mb-5">Cancelar</a>
                      </div>
                      <div class="col-md-6 d-flex justify-content-end mt-2">
                        <button type="submit" class="btn btn-lg btn-primary w-100 mt-4 mb-5">Registrar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
              <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" style="background-image: url('{% static "img/illustrations/registro_navidad.png" %}'); background-size: cover; background-position-x: center; background-position-y: center; background-size: 700px;  background-repeat: no-repeat;">
              </div>
          </div>
      </div>
      </div>
    </section>
  </main>

  <!-- Core JS Files -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>


  
  <script>
    document.getElementById('regionSelect').addEventListener('change', function() {
      const regionId = this.value;
      fetch(`/get_provincias_mascota/${regionId}/`)
          .then(response => response.json())
          .then(data => {
              const provinciaSelect = document.getElementById('provinciaSelect');
              provinciaSelect.innerHTML = '<option selected disabled>Seleccione una Provincia</option>';
              data.forEach(provincia => {
                  provinciaSelect.innerHTML += `<option value="${provincia.id}">${provincia.nombre}</option>`;
              });
          });
  });
  
    document.getElementById('provinciaSelect').addEventListener('change', function() {
      const provinciaId = this.value;
      fetch(`/get_comunas_mascota/${provinciaId}/`)
          .then(response => response.json())
          .then(data => {
              const comunaSelect = document.getElementById('comunaSelect');
              comunaSelect.innerHTML = '<option selected disabled>Seleccione una Comuna</option>';
              data.forEach(comuna => {
                  comunaSelect.innerHTML += `<option value="${comuna.id}">${comuna.nombre}</option>`;
              });
          });
  });
  </script>
</body>
</html>
