{% extends "base3.html" %}
{% load static %}

{% block contenido %}
<div class="container-fluid py-4">

    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">

    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">

    </div>
    <div class="col-xl-3 col-sm-6">
      
  </div>

  <div class="container-fluid py-4">
    <div class="row mt-4">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header news-title">
            <h3>Tenencia responsable (Ley Cholito) </h3>
          </div>
          <div class="card-body">
            <h5>¿Que es la Tenencia Responsable?</h5>
            <p class="news-content">
              La Ley de Tenencia Responsable de Mascotas y Animales de Compañía, conocida popularmente como la Ley Cholito, fue promulgada en Chile en el año 2017. Su objetivo principal es promover el bienestar animal y la tenencia responsable de mascotas. Puntos clave de esta ley:
              <br>
              <ul class="news-content">1. Tenencia Responsable: Los dueños de mascotas son responsables de su bienestar, cuidado y protección, garantizando que sus necesidades básicas sean cubiertas (alimento, agua, refugio, atención veterinaria, etc.).</ul>
              <ul class="news-content">2. Identificación Obligatoria: Todos los dueños deben registrar a sus mascotas en el Registro Nacional de Mascotas, identificándolas con un microchip y proporcionado información personal del dueño.</ul> 
              <ul class="news-content">3. Control de Población: Promueve la esterilización como método para controlar la sobrepoblación de animales, especialmente perros y gatos.</ul>
              <ul class="news-content"> 4. Prohibición del Maltrato Animal: Sanciona el maltrato y abandono de animales. Las penas incluyen multas e incluso prisión en casos graves.</ul>
              <ul class="news-content">5. Responsabilidad Civil: El dueño es civilmente responsable de los daños que su mascota pueda causar a otras personas, animales o propiedades.</ul>
              <ul class="news-content">6. Mascotas Peligrosas: Se regulan los requisitos para la tenencia de razas consideradas peligrosas, incluyendo el uso obligatorio de bozales y correas en lugares públicos.</ul>
              <ul class="news-content">7. Municipios y Programas de Educación: Los municipios deben implementar programas de educación sobre tenencia responsable, además de contar con centros de rescate y control animal.</ul>
              <ul class="news-content"> Esta ley surgió como respuesta a varios casos de maltrato animal en Chile y busca garantizar una mejor calidad de vida para los animales de compañía y una convivencia armónica entre estos y las personas.</ul>
              <ul class="news-content">Si quieres saber más de la Ley Cholito haz click <a href="https://www.chileatiende.gob.cl/fichas/51436-ley-de-tenencia-responsable-de-mascotas-y-animales-de-compania-ley-cholito" target="_blank">Aquí</a></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  






{% endblock contenido %}